.page_all {
    background-color: #FFFFF0; /* 背景色をページ全体に適用 */
    width: 100%; /* 横幅を全体に設定 */
    min-height: 100vh; /* 縦幅をビューポート全体に設定 */
    display: flex;
    flex-direction: column;
    /*justify-content: center;  縦方向に中央揃え */
    /*align-items: center;  横方向に中央揃え */
    padding: 20px; /* ページ全体の余白 */
}

.says {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%; /* 幅を全体に広げる */
    max-width: none; /* max-widthの制限を解除 */
    margin-left: 15px;
    padding: .8em 1.2em;
    border-radius: 5px;
    background-color: #D2E0FB;
    color: #333333;
}


.says::before {
    position: absolute;
    right: -15px;
    width: 15px;
    height: 30px;
    background-color: #D2E0FB;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    content: '';
}

#ai {
    font-weight: 600;
    font-size: 26px;
    font-family: "Hiragino Sans";
}

.cate {
    font-weight: 600;
    font-size: 32px;
    font-family: "Hiragino Sans";
}

.data {
    font-weight: 600;
    font-size: 30px;
    font-family: "Hiragino Sans";
}