@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap');

.halant-light {
    font-family: "Halant", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .halant-regular {
    font-family: "Halant", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .halant-medium {
    font-family: "Halant", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .halant-semibold {
    font-family: "Halant", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .halant-bold {
    font-family: "Halant", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .page_all {
    background-color: #FFFFF0; /* 背景色をページ全体に適用 */
    width: 100%; /* 横幅を全体に設定 */
    min-height: 100vh; /* 縦幅をビューポート全体に設定 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 縦方向に中央揃え */
    align-items: center; /* 横方向に中央揃え */
    padding: 20px; /* ページ全体の余白 */
  }

  h1 {
    font-size: 200px;
    padding: 20px;
  }

  h2 {
    font-size: 160px;
    padding: 15px;
  }

#AI_color {
    color: #afd147;
}