<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="{% static 'scenario/css/main_page.css' %}" rel="stylesheet">
    <title>Scenario App</title>
    <script src="../../../static/scenario/js/main.js"></script>
  </head>
  <body onload="appear_intro()">
    <div class="container-fluid page_all">
        <div class="row text-center">
          <div class="col app_name">UranAI</div>
        </div>
      <hr>

      <div class="row intro">
        <div class="offset-3 col-4 text-center">
            <p id="text1" class="says">
              ようこそ〜<br>
              ここはUranAIの館だニャン~
            </p>
            <p id="text2" class="says">キミの将来を占うニャン〜</p>
        </div>
        <div class="offset-1 col-4">
          <img src="{% static 'scenario/img/UranAICat.jpg' %}" alt="logo" id="cat1" class="img-fluid line1">
        </div>
      </div>

      <div class="row text-center">
        <div class="col">
          <p class="explain">MBTI診断を始めましょう！</p>
          <p class="explain">質問数を選択してください</p>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12 text-center">
          <div class="btn-group" role="group" aria-label="Button group example">
            <button class="btn btn-outline-primary" onclick="generateQuestions(4)">質問数4</button>
            <button class="btn btn-outline-primary" onclick="generateQuestions(8)">質問数8</button>
            <button class="btn btn-outline-primary" onclick="generateQuestions(16)">質問数16</button>
          </div>
        </div>
      </div>
      
      <div class="quiz">
        <form method="post" action="{% url 'index' %}">
          {% csrf_token %}

          <div id="questions">
          </div>

          <div id="check_mbti">
          </div>

          <div class="row justify-content-center">
            <div class="col text-center mbti_area">
              {% if user_mbti %}
              <h3 id="your_mbti">あなたのMBTI</h3>
              <p id="mbti_result">{{ user_mbti }} ({{ user_type }})</p>
              {% endif %}
            </div>
          </div>
          <div class="row mb-3">
            <div class="offset-4 col-4">
              <label for="hope" class="form-label tobe">なりたい職業</label>
              <input type="text" class="form-control" id="hope" name="user_job" maxlength="10" autocomplete="off"></input>
              <input type="hidden" name="user_mbti" value="{{ user_mbti }}">
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col text-center ask_gpt">
              <button type="submit" name="action" value="scenario_gen" class="btn btn-outline-primary scenario_btn">シナリオを生成する</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
  </body>

</html>