<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Scenario App</title>
    <script src="../../../static/scenario/js/top.js"></script>
  </head>

  <body onload="generateQuestions()">
    <h1>シナリオ生成</h1>
    <hr>
    <div id="intro">
      <p>「どんな仕事が向いているの？」　「私の将来はどうなるの？」<br>
        そんな悩みを抱えたあなたは、有名占い師#キャラ名#を訪ねてこのuranAIの館へとやってきました。<br>
        彼はあやしげな様子でディスプレイ越しにあなたに微笑みかけます。<br>
        "さあ！あなたの未来を覗いてみませんか？"
      </p>
      <p>
        ようこそ！ここはuranAIの館です。<br>
        あなたの性格となりたい職業から将来を占い、シナリオを生成します。<br>
        早速、あなたについて教えてください！
      </p>
    </div>

    <div id="num_select">
      <p>MBTI診断を始める::</p><br>
      <button onclick="generateQuestions(4)">質問数4</button>
      <button onclick="generateQuestions(8)">質問数8</button>
      <button onclick="generateQuestions(16)">質問数16</button>
  </div>
    
    <div id="quiz">
      <form method="post" action="{% url 'index' %}">
        {% csrf_token %}

        <div id="questions">
        </div>
        <div id="check_mbti">
        </div>

        <div id="input_job">
          <input type="text" name="user_job" placeholder="なりたい職業" maxlength="10">
        </div>
        <div id="ask_gpt">
          <button type="submit" name="action" value="scenario_gen" id="scenario_btn">シナリオを生成</button>
        </div>
      </form>
    </div>

    <div id="mbti_area">
      {% if user_mbti %}
      <h3>あなたのMBTI</h3>
      <p>{{ user_mbti }} ({{ user_type }})</p>
    {% endif %}
    <div>
    <div id="scenario_area">
      {% if user_scenario %}
        <h3>あなたのシナリオ</h3>
        <p>{{ user_scenario }}</p>
        <p>{{ precaution }}</p>
      {% endif %}
    </div>

  </body>

</html>